<div class="d-flex" style="height: 100vh; overflow: hidden;">
  <div class="bg-dark text-white p-3 d-flex flex-column" style="width: 250px;">
    <h5 class="fw-bold text-center mb-4">D'licias Fast Food</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2" (click)="estadistica($event)">
        <a href="#" class="nav-link text-white fw-semibold">
          <i class="bi bi-graph-up me-2"></i> Gráfica de Ganancias
        </a>
      </li>
      <li class="nav-item mb-2" (click)="empleados($event)">
        <a href="#" class="nav-link text-white fw-semibold">
          <i class="bi bi-people-fill me-2"></i> Empleados
        </a>
      </li>
      <li class="nav-item mb-2" (click)="inventario($event)">
        <a href="#" class="nav-link text-white fw-bold">
          <i class="bi bi-box-seam me-2"></i> Inventario
        </a>
      </li>
      <li class="nav-item mt-auto" (click)="CerrarSesion($event)">
        <a href="#" class="nav-link text-white fw-bold">
          <i class="bi bi-power me-2"></i> Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>

  <div class="flex-grow-1 bg-light p-4 overflow-auto">
    <div class="d-flex align-items-center">
      <img src="logo.png" alt="Logo" width="100" class="me-3">
      <div>
        <h3 class="fw-bold text-dark m-0">Inventario</h3>
      </div>
    </div>
    
    <div class="card shadow-sm mb-3">
      <div class="card-header text-white fw-bold" style="background-color: #ecb912;">
        NUEVO PRODUCTO
      </div>
      <div class="card-body">
        <div class="row g-3 align-items-center">
          <div class="col-md-2">
            <select id="categoriaProducto" class="form-select">
              <option selected disabled>Categoria</option>
              <option value="1">Broaster</option>
              <option value="2">Hamburguesas</option>
              <option value="3">Caldos</option>
              <option value="4">Extras</option>
              <option value="5">Bebidas</option>
            </select>
          </div>
          <div class="col-md-2">
            <input id="nombreProducto" type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col-md-2">
            <input id="precioProducto" type="text" class="form-control" placeholder="Precio">
          </div>
          <div class="col-md-2">
            <input id="stockProducto" type="text" class="form-control" placeholder="Stock">
          </div>
          <div class="col-md-2">
            <button class="btn text-white fw-bold px-3" style="background-color: rgb(22, 165, 22);" (click)="registrarProducto()">
              <i class="bi bi-plus-square me-1"></i> REGISTRAR</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card shadow-sm">
      <div class="card-header text-white fw-semibold" style="background-color: #00c6c6;">
        LISTA DE PRODUCTOS
      </div>
      <div class="card-body">
        <div class="table-responsive mb-3">
          <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
              <tr>
                <th>Categoria</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody id="tablaInventario">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="custom-modal-backdrop" *ngIf="mostrarModal"></div>
<div class="custom-modal" *ngIf="mostrarModal">
  <div class="custom-modal-content">

    <div class="modal-header-custom">
      <i class="bi bi-exclamation-triangle-fill text-warning"></i>
      <h5 class="modal-title-custom">{{ modalTitulo }}</h5>
    </div>

    <div class="modal-body-custom">
      <p>{{ modalMensaje }}</p>
    </div>

    <div class="modal-footer-custom">
      <button class="btn btn-warning fw-bold px-3 me-2"
              *ngIf="modalTipo === 'confirm'"
              (click)="ejecutarAccion()">
        Sí, Cerrar Sesión
      </button>

      <button class="btn btn-secondary px-3"
              (click)="cerrarModal()">
        Cancelar
      </button>
    </div>
  </div>
</div>